blink_cursor {
	color: white;
	animation-name: flash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}

@keyframes flash {
	0% {
		color: white;
	}

	50% {
		color: black;
	}

	100% {
		color: white;
	}
}



.scroll-container {
	width: 100%;
	overflow: hidden;
	display: flex;
}

.scroll-text {
	display: flex;
	white-space: nowrap;
	animation: scrolltext 8s infinite linear;
}

.scroll-item {
	flex-shrink: 0;
	white-space: pre
}

@keyframes scrolltext {
	0% {
		transform: translatex(0px);
	}

	100% {
		transform: translatex(var(--sentenceWidth));
	}
}



.image-wrapper {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.responsive-img {
	width: 100%;
	height: auto;
	display: block;
}